:root{

}

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://www.monsterhunterworld.com/images/common/bg_page.jpg");
    /*background-image: url("resources/background-image.jpg");*/
    background-attachment: fixed;
    color: #b59f58;

}

/* Everything inside the header */

header{
    width: 100%;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    
}


#logo {
    width: 7em;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#nav-bar{
    display: flex;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    margin-right: 2em;
    
}

.nav-link {
    color: #b59f58;
    text-decoration: none;
    justify-content: left;
    font-weight: bold;
    font-size: large;
}

.introduction-container{
    flex-direction: ;
    border-radius: 20px;
    display: flex;
    margin: 6em;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.introduction-image {
    width: 40vw;
    height: auto;
    margin:2em;
    justify-content: right;
    
}

.introduction-text{
    align-items: center;
    margin: 2em;
}

.sign-button{
    width:20em;
    height: auto;
    color:white;
    padding: 10px;
    margin:5em;
    background-color: red;
    border:2px solid white;
    border-radius: 20px;
    font-size: 10px 0;
    outline: none;
    cursor: pointer;
}


/*Everything insde the feature contaiter*/



.features-container {
    background-color: rgba(127, 125, 125, 0.2);;
    height: 25em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 20px;
    margin-bottom: 2em;

}

.features-itens-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.features-itens{
    width: 23em;

}

.features-images {
    width: 23em;
    height: 17em;
}


.feature-title{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 36px;
}

.feature-text{
    margin-top: 1em;
    display: flex;
    justify-content: center;

}

/*quote*/

.quote{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.quote-text{
    font-size: 3em;
    font-style: italic;
    font-family: 'playfair display';
}

.quote-autor{
    display: flex;
    justify-content: center;
    padding-left: 30em;
    margin-top: 2em;
}

.quote-author-text{
    font-size: 2em;   
}

/*call to action*/
.call-container{
    border-radius: 20px;
    display: flex;
    margin: 6em;
    background-color: rgba(0, 0, 0, 0.7);
}

/*footer*/
#contact{
    width: 100%;
    background-color: black;
}



/*36px light italic*/






