/*:root{

}*/

/*Things to "remember" */

/* main axis is defined by the flex-direction property,*/

/* flex-wrap property determines how your flex items behave when the flex container is too small.*/

/* wrap will allow the items to wrap to the next row or column.*/

/* nowrap (default) will prevent your items from wrapping and shrink them if needed.*/

/* justify-content property determines how the items inside a flex container are positioned along the main axis, affecting their position and the space around them.*/

/*align-items property positions the flex content along the cross axis*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,700;0,900;1,800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://www.monsterhunterworld.com/images/common/bg_page.jpg");
    /*background-image: url("resources/background-image.jpg");*/
    background-attachment: fixed;
    color: #b59f58;

}

/* Everything inside the header */

header{
    width: 100%;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    
}


#logo {
    box-sizing: content-box;
    width: 7em;
    margin-left: 1rem;
    padding: 2em;


}

#nav-bar{
    display: flex;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    margin-right: 2em;
    
}

.nav-link {
    color: #b59f58;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.7em;
    font-family: 'Source Sans 3',
        sans-serif;
}

/*everything inside the introduction*/

.introduction-container{
    border-radius: 20px;
    margin: 7em;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.introduction-image-container{
    margin: 2em;
    /*width: 40vw;*/
    width: 39em;
    display: flex;


    
}

.introduction-image {

    /*width: 100%;*/
    max-width: 39em;
    /*height: 350px;*/
}


.introduction-text-container{
    width: 35vw;
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.introduction-title {
    font-size: 2.5em;
}

.introduction-text{
    margin-top: 1em;
    font-size: 1.1em;
    line-height: 1.4em;
}

.sign-button{
    width: 10em;
    color:#cfee1d;
    padding: 10px;
    margin: 4em;
    margin-left: 10em;
    background-color: black;
    border:2px solid #cfee1d;
    border-radius: 20px;
    font-size: 1em;
    outline: none;
    cursor: pointer;
}




/*Everything inside the feature container*/


.features-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(127, 125, 125, 0.2);
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 20px;
    margin-bottom: 2em;
    justify-content: center;
    



}

.features-itens-container{
    display: flex;
    flex-wrap: wrap;
    margin:1em;

}

.features-itens{
    width: 21em;
}


#features-itens-monsters{
    margin-right:5em;
}

#features-itens-community{
    margin-left: 3em;
}

.features-images {
    width: auto;
    height: 17em;
}


.feature-title{
    margin-bottom: 1em;

}

.feature-text{
    margin-top: 1em;
    padding-left: 4.5em;
    font-size: 1.5vw;
    font-style: italic;
    font-weight: bold;
    

}

/*quote*/

.quote{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 3em;
    font-style: italic;
    
}



.quote-autor{
    display: flex;
    justify-content: center;
    padding-left: 30em;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 900;
}



.feature-title, .call-title{

    font-weight: 900;
    font-size: 36px;

}



/*call to action*/
.call-container{
    border-radius: 20px;
    display: flex;
    margin: 6em;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 2em;
    padding-top: 2em;
}

.call-text-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15em;
}

.call-text{
    margin-top: 1em;
    font-size: 1.5em;
}




/*footer*/
#contact{
    width: 100%;
    background-color: black;
}






