:root{

}

*{
    margin: 0;
    padding: 0;
}

body {
    /*ackground-image: url("https://img5.goodfon.com/wallpaper/nbig/0/9a/art-monster-hunter-diablos.jpg");*/
    background-color: gray;
    color: #b59f58;

}

/* Everything inside the header */

header{
    width: 100%;
    background-color: #4e2208;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    
}


#logo {
    width: 7em;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#nav-bar{
    display: flex;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    margin-right: 2em;
    
}

.nav-link {
    color: #b59f58;
    text-decoration: none;
    justify-content: left;
    font-weight: bold;
    font-size: large;
}

.introduction-container{
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: 6em;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.introduction-image {
    width: 40vw;
    height: auto;
    opacity: 1;
    margin:2em;
    justify-content: right;
    opacity: 1;
    
}

.introduction-text{
    align-items: center;
    margin: 2em;
}

button{
    width:20em;
    height: auto;
    color:white;
    padding: 10px;
    margin:5em;
    background-color: red;
    border:2px solid white;
    border-radius: 20px;
    font-size: 10px 0;
    outline: none;
    cursor: pointer;
}


/*Everything insde the feature contaiter*/



.features-container {
    background-color: darkred;
    height: 25em;
    padding: 5em;   
    border-radius: 20px;
    margin-bottom: 2em;

}

.features-itens-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}


.features-itens{
    width: 17em;
    border: 4px solid darkslategray;


}

.features-images {
    width: 17em;
}


.feature-title{

}







