@import url("reset.css");

/*:root{

}*/

/*Things to "remember" */

/* main axis is defined by the flex-direction property,*/

/* flex-wrap property determines how your flex items behave when the flex container is too small.*/

/* wrap will allow the items to wrap to the next row or column.*/

/* nowrap (default) will prevent your items from wrapping and shrink them if needed.*/

/* justify-content property determines how the items inside a flex container are positioned along the main axis, affecting their position and the space around them.*/

/*align-items property positions the flex content along the cross axis*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,700;0,900;1,800&display=swap');


/* || Variables  */

:root {
    /* Typography */
    --header-font-family: 'Source Sans 3',
        sans-serif;

    --font-size-navigator: 1.7rem;
    --font-weight-navigator: 700;

    /* COLORS */
    --font-color-navigator: #b59f58;
    --font-color-navigator-hover: #cfee1d;
    --font-color-main: #b59f58;

    --background-color-header: black;
    --background-color-main: orange;
    --background-color-footer: orange;
    --background-color-container: rgba(0, 0, 0, 0.3);

    --hamburger-background-color: #b59f58;

    --button-color-introduction: #b59f58;
    --button-color-introduction-hover: #cfee1d;
    --button-background-color-introduction: black;



    /* shadows*/

    --introduction-container-box-shadow: 0 0 2em rgb(69, 69, 69);

    --nav-text-shadow: 0 0 5px rgb(181, 159, 88), 0 0 12px rgb(81, 159, 88), 0 0 20px rgb(81, 159, 88);
    --introduction-text-shadow: 0 0 0.8em rgb(255, 255, 255);


    /*  BORDERS */


    --main-background-image: url("https://www.monsterhunterworld.com/images/common/bg_page.jpg");

    /*Transitions*/

    --hamburger-menu-transitions: 0.3s ease;


}




body {
    background-image: var(--main-background-image);
    /*background-image: url("resources/background-image.jpg");*/
    background-attachment: fixed;

}

/* || HEADER  */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--background-color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* || Logo ||  */

#logo {
    box-sizing: content-box;
    width: 7em;
    margin-left: 3rem;
    padding: 2em;


}

/* || NAV BAR ||  */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    gap: 1em;

}

.nav-link {
    font-weight: var(--font-weight-navigator);
    font-size: var(--font-size-navigator);
    font-family: var(--header-font-family);
    color: var(--font-color-navigator);

}

.nav-link:hover {
    color: var(--font-color-navigator-hover);
    text-shadow: var(--nav-text-shadow);
}

/* || HAMBURGER MENU BAR ||  */

#hamburger-menu {
    display: none;

}

@media screen and (max-width: 640px) {

    .nav-bar {
        display: none;
    }

    #hamburger-menu {
        z-index: 2;
        display: block;
        margin-top: 2em;

    }

    #hamburger-menu-bar {
        width: 45px;
        height: 40px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
    }

    .bar {
        height: 5px;
        width: 100%;
        background-color: var(--hamburger-background-color);
        display: block;
        border-radius: 5px;
        transition: var(--hamburger-menu-transitions);
    }

    #bar1 {
        transform: translateY(-4px);
    }

    #bar3 {
        transform: translateY(4px);
    }

    .nav-hamburger-menu-bar {
        transition: var(--hamburger-menu-transitions);
        display: none;
    }

    .nav-hamburger-menu-bar ul {
        padding: 0 22px;
    }

    .nav-hamburger-menu-bar li {
        list-style: none;
        padding: 12px 0;
    }

    .nav-hamburger-menu-bar li a {
        color: var(--font-color-navigator);
        font-size: 20px;
        text-decoration: none;
    }

    .nav-hamburger-menu-bar li a:hover {
        font-weight: bold;
        color: var(--font-color-navigator-hover);
        text-shadow: var(--nav-text-shadow);
    }

    .menu-bg,
    #hamburger-menu {
        top: 0;
        left: 0;
        position: absolute;
    }

    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle, var(--background-color-container), var(--background-color-container));
        border-radius: 50%;
        transition: var(--hamburger-menu-transitions);
    }

    .change {
        display: block;
    }

    .change .bar {
        background-color: white;
    }

    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .change-bg {
        width: 520px;
        height: 460px;
        transform: translate(-60%, -30%);
    }

}


/* || Main  */


.main {
    color: var(--font-color-main);

}

/* || Introduction Section ||  */

.introduction-container {
    background-color: var(--background-color-container);
    box-shadow: var(--introduction-container-box-shadow);
    display: flex;
    margin: 12rem 6rem;
    border-radius: 1.5em;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {

    .introduction-container {
        flex-direction: column;
        margin: 12rem 3rem;
    }
}


.introduction-image-container {
    margin: 2em;
    flex: 1;
}

.introduction-text-container {
    margin: 2em;
    flex: 1;


}

.introduction-image {
    min-width: 15em;
}


.introduction-title {
    font-size: 2.2em;
    text-shadow: var(--introduction-text-shadow);
    text-align: center;
}

.introduction-text {
    margin-top: 1em;
    font-size: 1.1em;
    line-height: 1.4em;
}

.sign-button {
    color: var(--button-color-introduction);
    background-color: var(--button-background-color-introduction);
    border: 0.2em solid var(--button-color-introduction);
    cursor: pointer;
    border-radius: 2em;
    width: 10em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    font-size: 1.2em;
}

.sign-button:hover {
    color: var(--button-color-introduction-hover);
    border-color: var(--button-color-introduction-hover);
    background-color: var();
}

/* || Features Section ||  */


.features-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(127, 125, 125, 0.2);
    padding: 2em 0;
    margin-bottom: 2em;
    align-items: center;



}

.features-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6em;


}

.features-images {
    width: 12em;
    height: 14em;
    object-fit: cover;
    border: 0.3em solid rgb(255, 255, 255);
    border-radius: 1.5em;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
}


.feature-title {
    margin-bottom: 1em;
}

.feature-text {
    margin-top: 1em;
    padding-left: 2.5em;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;


}

/*quote*/

.quote {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 3em;
    font-style: italic;

}



.quote-autor {
    display: flex;
    justify-content: center;
    padding-left: 30em;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 900;
}



.feature-title,
.call-title {

    font-weight: 900;
    font-size: 36px;

}



/*call to action*/
.call-container {
    border-radius: 20px;
    display: flex;
    margin: 6em;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 2em;
    padding-top: 2em;
}

.call-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15em;
}

.call-text {
    margin-top: 1em;
    font-size: 1.5em;
}




/*footer*/
#contact {
    width: 100%;
    background-color: black;
}